.button {
  width: 220px;
  height: 50px;

  margin-right: 1vw;

  background-color: #613312;
  font-family: 'Verdana', sans-serif;

  font-size: 1em;
  font-weight: 600;
  cursor: default;
  user-select: none;
  transform: scale 0.2s ease-in-out;
}

