* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --bg-color: rgb(18, 18, 18);
    --bg-mobile: rgb(255, 255, 255);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}