

a,
li {
	font-family: "minion-pro", serif;
	font-weight: 400;
	font-size: 1em;
}

a:hover {
	color: #db423c;
}

.java {
	font-family: "minion-pro", serif;
	font-weight: 400;
	font-size: 1em;
	color: #db423c;
}

@media only screen and (max-width: 480px) {
	li,
	a {
		background-color: hsl(30, 57%, 11%);
		color: #fafafa;
		padding: 5px 5px;
		margin: 0 5px;
		transition: 0.3s;
	}
}




