* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

body {
  background-color: #252525;
}

main {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  background-color: #fafafa;
  padding-bottom: 200px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  min-width: 80vw;
  margin: 0 auto;
}

legend {
  font-size: 140%;
}

label {
  font-size: 90%;
}

input {
  font-size: 90%;
}

i {
  font-size: 80%
}

.text-section{
  max-width: 800px;
  margin: 3vw;
}

.form-wrapper {
  max-width: 800px;
  width: 60vw;
  background-color: #e1e1e1;
  padding: 2em;
}

textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #252525;
  border-radius: 3px;
  padding: 1em;
  font-size: 80%;
  resize: none;
}

textarea:focus {
  outline: 1px solid #252525;
  background-color: #edf0f7;
}

textarea:hover {
  outline: 1px solid #252525;
}

input {
  border: 1px solid #414f5e;
  border-radius: 3px;
  padding: 5px 5px 5px 25px; 
  margin-bottom: 10px;
}

input:hover {
  outline: 1px solid #252525;
}

input:focus {
  border: 2px solid #414f5e;
  outline: none;
  border-radius: 3px;
  /* background-color: #edf8eb; */
}

fieldset {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

input[type="file"], input[type="submit"] {
  border: 1px solid #252525;
  border-radius: unset;
  padding: 20px;
  width: 100%;
  font-size: 70%;
}

input::file-selector-button, input[type="submit"] {
  color: #252525;
  border: 1px solid #252525;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 70px;
  margin-right: 10px;
  font-size: 80%;
}

input::file-selector-button:hover, input[type="submit"]:hover {
  scale: 1.03;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#submit{
  margin-left: 38%;
  width: 120px;
  font-size: 80%;
}

#email {
  background: url(data-url:../../public/common/at.png) no-repeat 5px center;
  background-size: 12px;
  background-color: white;
  color: #252525;
}

#homepage {
  background: url(data-url:../../public/common/home.png) no-repeat 5px center;
  background-size: 13px;
  background-color: white;
  color: #252525;
}

#subject {
  background: url(data-url:../../public/common/subject.png) no-repeat 5px center;
  background-size: 12px;
  background-color: white;
  color: #252525;
}

#name {
  background: url(data-url:../../public/common/name.png) no-repeat 5px center;
  background-size: 11px;
  background-color: white;
  color: #252525;
}

#name:focus, 
#email:focus,
#homepage:focus,
#subject:focus {
  background-color: #edf0f7;
}

/* radio buttons for reference */

/* input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #414f5e;
}

input[type="radio"]:hover, input[type="checkbox"]:hover {
  outline: none;
} */

@media screen and (max-width: 480px) {

  .container {
    width: 100vw;
  }

  .text-section{
    width: 95%;
    margin-bottom: 2vh;
  }
  
  tbody, tfoot, tr, td, th {
    padding: 0.3em;
  }

  .form-wrapper {
    width: 85vw;
    max-width: none;
    margin: 0 auto;
    padding: 1.2em;
  }

  fieldset {
    padding: 0.8em;
  }

  legend {
    font-size: 100%;
  }
  
  label {
    font-size: 80%;
  }
  
  input {
    font-size: 80%;
  }

}
 
@media screen and (max-width: 768px) and (min-width: 480px)  {

  .form-wrapper {
    width: 80vw;
    max-width: none;
    margin: 0 auto;
    padding: 1.5em;
  }
} 


