
* {
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
}

.form-wrapper {
  background-color: #e6e1db61;
}

#name:focus, 
#email:focus,
#homepage:focus,
#subject:focus,
textarea:focus {
  background-color: #edf4f7;
}

